* {
  margin: 0;
}

body {
  font-family: 'Roboto';
  background: linear-gradient(to right, #c31432, #240b36);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  color: #fff;
}

h1 {
  justify-self: center;
  align-self: center;
  font-size: 50px;
  font-weight: 900;
  margin: 0;
}

.instructions {
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-rows: 1fr;
  width: 450px;
  margin-bottom: 20px;
}

.instruction {
  margin: 2px 0;
  justify-self: left;
  align-self: center;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
}

.instruction-heading {
  font-weight: 900;
  margin: 10px 0;
}

.container{
  display: grid;
  /* grid-template-columns: 1fr 450px 1fr; */
  grid-template-columns: repeat(3, 1fr);
}

.player-profile {
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 10px 0;
}

.scores {
  justify-self: center;
  align-self: center;
}

.winner-message {
  justify-self: center;
  align-self: center;
}

.p1-wins, .p2-wins {
  font-size: 35px;
  display: none;
}


.player-title {
  font-size: 20px;
  font-weight: 700;
  justify-self: center;
}


.player-col {
  justify-self: center;
}

.score {
  font-size: 30px;
  font-weight: 900;
}

.wrapper {
  width: 450px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin: 0 auto;
}


.wrap {
  width: 150px;
  height: 150px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.wrap:hover {
  cursor: pointer;
}


.wrap-1, .wrap-4, .wrap-7, .wrap-3, .wrap-6, .wrap-9 {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.wrap-1, .wrap-2, .wrap-3, .wrap-7, .wrap-8, .wrap-9 {
  border-top: 1px solid #fff; 
  border-bottom: 1px solid #fff;
}

.board-number {
  justify-self: center;
  text-align: center;
  font-weight: 900;
  grid-row: 2/3;
  align-self: center;
  font-size: 50px;
}


/* Mobile */


@media screen and (max-width: 630px) {


  
h1 {
  justify-self: center;
  align-self: center;
  font-size: 40px;
  font-weight: 900;
  margin: 0;
}

.instructions {
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-rows: 1fr;
  width: 300px;
  margin-bottom: 0px;
}

.instruction {
  margin: 2px 0;
  justify-self: left;
  align-self: center;
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 500;
}

.instruction-heading {
  font-weight: 900;
  margin: 10px 0;
}




  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  
.wrapper {
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin: 0 auto;
}


.wrap {
  width: 100px;
  height: 100px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.player-title {
  font-size: 10px;
  font-weight: 900;
}

.score {
  font-size: 20px;
  font-weight: 900;
}

  
}